
.entwurf-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.entwurf-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    overflow: hidden;
}

.inhalte-sidebar {
    width: 160px;
    background-color: #f8f8f8;
    padding: 2rem 1.5rem;
    border-right: 1px solid #eaeaea;
}

.inhalte-sidebar button{
    display: flex;
    justify-self: center;
    margin-top: 180px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 12px 15px 12px 15px;
    font-size: 15px;
    font-weight: 600;
    background: #2e2e2e;
    color: #fff;
}

.inhalte-sidebar button:hover{
    background: #3e3e3e;
    transition: 0.25s;
}

.inhalte-sidebar h3 {
    font-size: 1.25rem;
    color: #333;
    margin: 0 0 1.5rem 0;
    font-weight: 600;
}

.inhalte-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inhalte-sidebar li {
    padding: 0.55rem 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.inhalte-sidebar li i{
    color: #838383;
    font-weight: 600;
}

.inhalte-sidebar li:hover {
    background-color: #e7e7e7;
    color: #1f1f1f;
    transition: 0.25s;
}

.inhalte-sidebar li.active {
    background-color: #2e2e2e;
    color: white;
}

.inhalt-top {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.inhalt-top i {
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
    transition: color 0.2s ease;
}

.inhalt-top i:hover {
    color: #333;
    transform: scale(1.05);
}

.content-container {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    max-height: 26rem;
}

.content-section {
    max-width: 600px;
}

.content-section h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.input-gruppe {
    margin-bottom: 1.5rem;
}

.select-techstack{
    display: flex;
}

.select-techstack select{
    width: 100%;
    max-width: 140px;
    padding: 10px 16px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.ausgewählter-stack{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    padding: 0px 0px 0px 10px;
    scrollbar-width: none;
}

.ausgewählter-stack::-webkit-scrollbar {
    display: none; 
}

.selected-stack{
    background: #82c980;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.selected-stack:hover{
    background: #8ed88c;
    transition: 0.25s;
}

.ausgewählter-stack p{
    margin-left: 3px;
    color: #fff;
}

.ausgewählter-stack i{
    color: #fff;
}

.input-gruppe label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
    margin-top: 2rem;
}

.input-gruppe input,
.input-gruppe textarea {
    width: 91%;
    padding: 0.75rem;
    border: 2px solid #eaeaea;
    border-radius: 8px;
    font-size: 1rem;
}

.input-gruppe input:hover, 
.input-gruppe textarea:hover{
    border-color: #d0d0d0;
    transition: 0.25s;
}

.input-gruppe input:focus, 
.input-gruppe textarea:focus{
    border-color: #d0d0d0;
    transition: 0.25s;
    outline: none;
}

.input-gruppe textarea {
    min-height: 120px;
    resize: none;
}

#hochladen-input{
    cursor: pointer;
}

.angezeigter-file-container{
    display: flex;
    overflow-x: scroll;
    background: #eee;
    border-radius: 10px;
}

.angezeigter-file{
    position: relative;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 120px;
    transition: transform 0.3s ease;
}

.angezeigter-file i{
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    z-index: 2;
}

.angezeigter-file:hover img {
    transform: scale(1.3);
}