
.dashboard {
    width: 100%;
    min-height: 95vh;
}

.dashboard-inhalt{
    flex-grow: 1;
    margin: 10px 20px 20px 225px; /*210*/
    padding: 20px;
    transition: all 0.3s ease;
    display: flex;
    height: 77vh;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}

.suchanzeigen {
    max-width: 90vw;
    height: 80vh;
    display: flex;
    gap: 1.5rem;
}

.suchanzeigen .ideen-reihe{
    background: #fff;
    border-radius: 10px;
    width: 25%;
    height: 76vh;
    overflow-y: auto;
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;
    scrollbar-width: none;
}

.idee-karte{
    margin-bottom: 20px;
}

.suchanzeigen .entwürfe-reihe{
    background: #fff;
    border-radius: 10px;
    width: 70%;
    height: 76vh;
    overflow-y: auto;
    overflow-x: auto;
    padding: 20px;
    display: grid;  /* Grid Layout */
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    gap: 20px;
}

.entwurf-karte{
    margin-bottom: 20px;
}
