@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body{
  background-color: #fafafa;
}

.app.closed .titelkarte {
  margin-left: 100px;
}

.app.closed .dashboard-inhalt {
  margin-left: 100px;
}
.app.closed .ideen.inhalt {
  margin-left: 100px;
}
/*.app.closed .entwurf-inhalt {
  margin-left: 100px;
}
.app.closed .konversation-inhalt {
  margin-left: 100px;
}*/

.app {
  display: flex;
}

.content {
  flex: 1;
  transition: all 0.3s ease;
}